In [1]:
import pandas as pd
import numpy as np

ames_housing = pd.read_csv("../dataset/house_prices.csv")
data = ames_housing.drop(columns="SalePrice")
target = ames_housing["SalePrice"]
data = data.select_dtypes(np.number)
target /= 1000

 create a linear regression model.

In [2]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

use the cross_val_score to estimate the generalization performance of the model. Use a KFold cross-validation with 10 folds. Make the use of the R^2
 score explicit by assigning the parameter scoring (even though it is the default score).

In [3]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, data, target, cv=10, scoring="r2")
print(f"R2 score: {scores.mean():.3f} ± {scores.std():.3f}")

R2 score: 0.794 ± 0.103

 instead of using the R^2 score, use the mean absolute error (MAE).

In [4]:
scores = cross_val_score(
    model, data, target, cv=10, scoring="neg_mean_absolute_error"
)
errors = -scores
print(f"Mean absolute error: {errors.mean():.3f} k$ ± {errors.std():.3f}")

Mean absolute error: 21.892 k$ ± 2.225

use the cross_validate function and compute multiple scores/errors at once by passing a list of scorers to the scoring parameter.

In [5]:
from sklearn.model_selection import cross_validate

scoring = ["r2", "neg_mean_absolute_error"]
cv_results = cross_validate(model, data, target, scoring=scoring)

In [6]:
import pandas as pd

scores = {
    "R2": cv_results["test_r2"],
    "MAE": -cv_results["test_neg_mean_absolute_error"],
}
scores = pd.DataFrame(scores)
scores

         R2        MAE
0  0.848721  21.256799
1  0.816374  22.084083
2  0.813513  22.113367
3  0.814138  20.448279
4  0.637473  24.370341